#main, section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#popup-section {
  position: fixed;
  bottom: 10px;
  right: 150px;
  display: flex;
  justify-content: flex-end;
  z-index: 1;
}
#popup-section > div {
  width: 200px;
  position: relative;
  background-color: #9B9B9B;
  padding: 20px;
  margin: 0 0 0 10px;
  height: 70px;
  border-radius: 10px;
}
#popup-section > div p {
  color: white;
  margin-top: 10px;
}
#popup-section > div .cross {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 0;
  right: 0;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}
#popup-section > div .cross:hover i {
  color: white;
}

.radio {
  display: flex;
  margin: 10px 0;
}
.radio p {
  padding: 10px;
  background-color: #EBEBEB;
  color: black;
  cursor: pointer;
}
.radio p:hover {
  background-color: #9B9B9B;
  color: white;
}
.radio p.selected {
  background-color: #795548;
  color: white;
}
.radio::before, .radio::after {
  content: "";
  width: 20px;
  height: 39px;
  background-color: #EBEBEB;
}
.radio::before {
  border-radius: 10px 0 0 10px;
}
.radio::after {
  border-radius: 0 10px 10px 0;
}

.hidden {
  display: none;
}

h1, h2, h3, h4, h5, h6, p, a, li, th, td, label {
  font-family: "ubuntu-r";
}

p {
  margin: 0;
}

@font-face {
  font-family: "roboto-heavy";
  src: url("../font/Roboto-Black.ttf") format("truetype");
}
@font-face {
  font-family: "roboto-bold";
  src: url("../font/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "roboto-medium";
  src: url("../font/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "roboto";
  src: url("../font/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "roboto-light";
  src: url("../font/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "roboto-thin";
  src: url("../font/Roboto-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "ubuntu-b";
  src: url("../font/Ubuntu-B.ttf") format("truetype");
}
@font-face {
  font-family: "ubuntu-bi";
  src: url("../font/Ubuntu-BI.ttf") format("truetype");
}
@font-face {
  font-family: "ubuntu-c";
  src: url("../font/Ubuntu-C.ttf") format("truetype");
}
@font-face {
  font-family: "ubuntu-l";
  src: url("../font/Ubuntu-L.ttf") format("truetype");
}
@font-face {
  font-family: "ubuntu-li";
  src: url("../font/Ubuntu-LI.ttf") format("truetype");
}
@font-face {
  font-family: "ubuntu-m";
  src: url("../font/Ubuntu-M.ttf") format("truetype");
}
@font-face {
  font-family: "ubuntu-mi";
  src: url("../font/Ubuntu-MI.ttf") format("truetype");
}
@font-face {
  font-family: "ubuntu-r";
  src: url("../font/Ubuntu-R.ttf") format("truetype");
}
@font-face {
  font-family: "ubuntu-ri";
  src: url("../font/Ubuntu-RI.ttf") format("truetype");
}
body {
  margin: 0;
}
@media (max-width: 768px) {
  body {
    background-color: #EBEBEB;
  }
}

h1, h2, h3, h4, h5, h6, p, a, li, th, td, label {
  font-family: "ubuntu-r";
}

nav {
  display: flex;
  padding: 5px;
}
nav p {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  background-color: #9B9B9B;
  border-radius: 90px;
  cursor: pointer;
}
nav p:hover {
  color: #EBEBEB;
  background-color: #8E8E8E;
}
nav p.active {
  color: #EBEBEB;
  background-color: red;
}

label, textarea {
  margin-bottom: 10px;
}
label input, textarea input {
  width: 40px;
}
label input#name, textarea input#name {
  width: 150px;
}

.action {
  cursor: pointer;
  background-color: #EBEBEB;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
  margin: 2px;
}
.action:hover {
  color: white;
  background-color: #9B9B9B;
}

th {
  width: 100px;
}

/*# sourceMappingURL=main.css.map */
